*{
    margin: 0;
    box-sizing: border-box;
}
:root{
    --purple: #854da8;
    --lightpurple: #c893e8;
    --peachpink: #f8a9a0;
    --orange: #ffbe5d;
    --yellow: #ffde7d;
    --ff: "Montserrat", sans-serif;
}
body {
    background-color:#ddb0f9;
    background: linear-gradient(90deg, #ddb0f9 20%, #ffbbb4);
}

#hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: .5rem;
}

#hero > .header {
    font-family: var(--ff);
    font-size: 6rem;
    font-weight: 500;
    color: #854da8;
}

#hero > .subtitle {
    font-family: var(--ff);
    font-size: 1.5rem;
    color: #875da1;
}

.content-container {
    display: grid;
    grid-template-columns: min(25vw,10rem) 1fr;
    gap: 3rem;
    padding-bottom: 2rem;
    padding-inline: 6rem;

}

.content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 4rem;
    padding-inline: 1rem;
}

.content > div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.sec-header {
    font-family: var(--ff);
    font-weight: 700;
    color:#68199a;
    padding-top: 2rem;
}

.sub-sec {
    font-family: var(--ff);
    padding-block: 1rem;
    padding-inline: 1rem;
    background-color:#ffebaf6c;
    color: #602788;
    border-radius: 1.75rem;
}

.sub-sec-header {
    color: #7a33a5;
    padding-bottom: .5rem;
}

.navbar nav {
    height: fit-content;
    position: sticky;
    top: 3rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.navbar nav div a {
    text-decoration: none;
    font-family: var(--ff);
    font-weight: 500;
    color: #7209b4;
    font-size: 1.25rem;
}

.navbar nav div a:hover {
    text-decoration: underline;
    text-underline-offset: 2.5px ;
    color: #b135ff;
    font-size: 1.35rem;
}

footer {
    background-color: #ffebaf6c;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-links > a {
    font-family: var(--ff);
    text-decoration: none;
    color: #552374;
}

.footer-links > a:hover {
    color: #b135ff;
    text-underline-offset: 2.5px;
}

.footer-links{
    display: flex;
    justify-content: center;
    padding: 4rem;
    gap: 2rem;
    font-size: 1.25rem;
}

.social-icons > svg {
    width: 3rem;
}

.social-icons {
    display: flex;
    justify-content: center;
    padding-bottom: 4rem;
    gap: 2rem;
}